@import url("https://fonts.loli.net/css2?family=Montserrat:ital,wght@1,400;1,500&family=Montserrat:wght@400;500&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap");

:root {
  --bg-color: white;
  --text-color: #57b9cc;
  --arrow-color: #7ae0da;
  --splitLine-color: #839395;

  --calendar-workday-color: #839395;
  --calendar-weekend-color: #7cc0c9;
  --calendar-prevMonthDay-color: #696868;
  --calendar-subtitleMonth-color: #7cd5e0;
  --calendar-currentDay-bg-color: #26b9cc;
  --calendar-currentDay-color: white;

  --main-text-font: Open Sans;
  --main-number-font: Open Sans Condensed;
  --title-text-font: Montserrat;
}

::-webkit-scrollbar {
  width: 0px;
}

// html {
//   scrollbar-width: 0;
// }

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: var(--main-text-font);

  & > div {
    flex-basis: 0;
  }
  #calendar {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 64%;
    margin: 6rem 12% 0;
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;

    .calendarHeader {
      display: flex;
      align-content: flex-end;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 4rem;
      min-height: 4rem;
      letter-spacing: 0.13rem;
      font-family: var(--title-text-font);

      .calendarTitle {
        font-size: 2.5rem;
        letter-spacing: 0.08rem;
        font-weight: bold;
      }
      .calendarSubtitle {
        font-size: 2rem;
      }
    }

    .calendarBody {
      .months {
        letter-spacing: 0.1rem;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        font-family: var(--title-text-font);
        font-weight: bolder;

        .month-prev,
        .month-next {
          color: var(--calendar-subtitleMonth-color);
        }
      }

      .arrow {
        position: absolute;
        top: 50%;

        &.left,
        &.right {
          border: solid var(--arrow-color);
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 10px;
        }

        &.left {
          left: -10%;
          transform: rotate(135deg) translatey(-50%);
        }
        &.right {
          right: -10%;
          transform: rotate(-45deg) translatey(-50%);
        }
      }

      .calendarMain {
        .calendar-weekdays {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          text-align: center;
          text-transform: uppercase;

          .weekday {
            padding: 0.5rem 1rem;

            &.workday {
              color: var(--calendar-workday-color);
            }
            &.weekend {
              color: var(--calendar-weekend-color);
            }
          }
        }
        .calendar-days {
          display: grid;
          text-align: center;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 0.5rem;

          .day {
            font-family: var(--main-number-font);
            padding: 1.5rem;
            color: var(--calendar-weekdays-color);
            letter-spacing: 0.2;

            &.workday {
              color: var(--calendar-workday-color);
            }
            &.weekend {
              color: var(--calendar-weekend-color);
            }

            &.prev-month {
              color: var(--calendar-prevMonthDay-color);
            }

            &.currentDay {
              background: radial-gradient(
                circle at center,
                var(--calendar-currentDay-bg-color) 2rem,
                transparent 0,
                transparent 100%
              );
              color: var(--calendar-currentDay-color);
            }
          }
        }
      }
    }
  }

  #todosDock {
    flex: 1 1 36%;
    padding: 2rem;
    background-size: cover;
    background-image: linear-gradient(
        180deg,
        rgba(209, 226, 188, 0.9) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/assets/mountain_e0uzlo_c_scale,w_811.jpg");
    color: white;
    font-family: var(--main-text-font);
    position: relative;

    .btn {
      padding: 0.3rem 0.8rem;
    }
    .SignIn {
      display: inline-box;
      text-align: right;
      font: 1.5rem/1.2 Helvetica white;
      text-transform: uppercase;
    }
    .currentDate {
      margin: 3rem 0;
      text-transform: uppercase;
      font: 3rem/1.5 var(--title-text-font);

      .currentWeekday {
        font-size: 2rem;
        font-weight: lighter;
      }
    }

    .todoContainer {
      margin: 3rem 0;
      height: 40vh;
      position: relative;
      overflow-y: scroll;
      background-image: linear-gradient(
        90deg,
        transparent 0,
        transparent 25%,
        white 0,
        white 25.5%,
        transparent 0
      );

      .todoItems {
        // overflow: scroll;
        margin: 0 0 0 40%;
        padding: 1rem;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.3) 0,
          rgba(0, 0, 0, 0.3) 100%
        );
        background-attachment: fixed;
        font-size: 2.5rem;
        line-height: 1.2;
        position: relative;
        font-family: var(--main-text-font);
        font-style: italic;

        .todoItem + .todoItem {
          margin-top: 2rem;
        }

        .todoItem {
          .todoDate {
            font-weight: bold;
            position: absolute;
            left: -50%;
          }
        }
      }
    }

    .addTodo {
      display: inline-block;
      float: right;
      font: 1.8rem/1.2 Open Sans;
      background-color: rgba(255, 255, 255, 0.1);

      .fa-plus-circle {
        color: white;
        font-size: 2em;
        vertical-align: middle;
      }
    }
  }

  #formModal {
    #formDialog {
      font-size: 2rem;
      padding:5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

      form {
        color:var(--text-color);

        input[type="text"] {
          padding: 10px 10px 10px 5px;
          display: inline-block;
          font-size: 2rem;
          width:200px;
          border: none;
          border-bottom: 1px solid #757575;
        
          &:focus {
            outline: none;
          }
        }

        #todoTextInput {
          font-size: 3rem;
          width: 300px;
        }

        .dateSelector {
          display: flex;
          margin:2rem 0;
          
           &>* + * {
             margin-left:1rem;
           }
        }

        .info {
          display: flex;
          align-items: center;
          width:200px;

          .fa {
            padding:.5rem 2rem .5rem 0;
          }

          input[type="text"] {
            border-bottom: none;
          }
        }

        menu {
          text-align: right;

          #confirmBtn {
            background-color: var(--text-color);
            color:white;
            padding:.5rem 3rem;
            border-radius: 1.5rem / 50%;
            box-shadow: 0 3px 3px rgba(0,0,0,0.2);
            display: inline-block;

            &:hover {
              box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
            }
          }

          #cancelBtn {
            position: absolute;
            top:2rem;
            right:2rem;
            padding:.5rem 1rem;
            font-size: 1.5rem;
            cursor:pointer;
            font-weight: 100;
          }
        }

      }
    }
  }
}




